*
    box-sizing border-box

html
    font medium/1.5 sans-serif
    color #222

body
    max-width 1000px
    margin 1em auto
    padding 10px

form
    display none
    div
        display flex
    span
        flex-grow 1
        text-align center

input
    display block
    width 100%
    font inherit

.r
    background #fcc

.g
    background #cfc

.b
    background #ccf
