extends layout

block head
    title home
    style: include ./home.css

block body
    h1#title error
    p#msg javascript is required
    p#msg2
    form#form
        input#input
    script: include ./home.min.js
