extends layout.pug

block head
    title Stairwell
    style: include ./home.css

block body
    h1#title Error
    h2#msg JavaScript is required.
    p#msg2
    form#form
        input#input
    a#tutorial(href="/tutorial") How it works
    script: include ./home.min.js
