*
    box-sizing border-box

html
    font medium/1.5 sans-serif
    color #222

body
    max-width 1000px
    margin 1em auto
    padding 10px

form
    display none
    font large/2 Input, Menlo, Consolas, monospace
    div
        display flex
        user-select none
        cursor pointer
    span
        width 100%
        text-align center

input
    display block
    width 100%
    font inherit

.red
    background #fcc

.green
    background #cfc

.blue
    background #ccf

.cyan
    background #cff

.yellow
    background #ffc

.gray
    background #ccc
